.user-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 560px;
  height: 256px;
  border: 5px solid #000;
  border-radius: 20px;
  padding: 0.625rem 0.625rem;
  align-items: center;
}

.user-title {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.user-title-text {
  color: #4c4c4c;
  font-family: Montserrat, serif;
  font-size: 0.875rem;
}

.user-title-name {
  color: #181818;
  font-family: Montserrat, serif;
  font-size: 2rem;
}
